.message { position: relative; cursor: pointer; }

.message:hover { padding-right: 26px; }

.message:hover:after { position: absolute; top: 18px; right: 15px; font-family: 'Craft'; speak: none; -webkit-font-feature-settings: "liga", "dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga", "dlig"; -ms-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; text-rendering: optimizeLegibility; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: subpixel-antialiased; display: inline-block; text-align: center; font-style: normal; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; content: 'edit'; color: #0d78f2; }

.message .subject { padding-bottom: 15px; border-bottom: 1px solid #dbdbdb; margin-bottom: 15px; }

.message .body { font-size: 12px; line-height: 16px; font-family: Courier, monospace; color: #999; }

.message-settings { width: 500px; }

.message-settings .header .right { top: 12px; }
